<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="">
    		<p>
          I am a learning developer who is passionate about technology and wish to work with a great team in a great environment.
          I am a at JIIT Noida who likes to tackle challenging problems.
          I am an open source enthusiast who has explored and experimented experimented in many different fields of Computer Science.
          I love building things.
        </p>
      </div>
	    <!-- <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            1
    			</li>
          <li>
            2
          </li>
		    </ul>
	    </div> -->
    </div>
  </div>
</section>
