<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include
        	</p>
			<ul>
			  <li>
				 <b>Deep learning</b> 
			  </li>
			  <li>
				  <b>RC Planes and Boats</b>
			  </li>
			  <li>
				  <b>Mountaineering</b>
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget 
    		</li>
  			<li>
          My Medium blog 
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club 
  			</li>
  			<li>
  			  Active member of The Seattle
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
