<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests are
        	</p>
			<ul>
			  <li>
				 <b>Decentralized Web</b> 
			  </li>
			  <li>
				  <b>Dev-Ops</b>
			  </li>
			  <li>
				  <b>Deep Learning</b>
				</li>
				<li>
					<b>Building Things</b>
				</li>
				<li>
					<b>Security, Data Privacy, CTF, GNU/Linux</b>
				</li>
				<li>
					<b>Playing Badminton</b>
				</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <!-- <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget 
    		</li>
  			<li>
          My Medium blog 
  			</li>
  		</ul> -->
  		<h3>Volunteering</h3>
  		<ul>
  			<li>
           Head Coordinator of JIIT Open Dev Circle
  			</li>
  			<li>
  			  Active member of PyDelhi, Indian-lug-Delhi, Fb Dev Circle Delhi, PyData Delhi, Open Source Developers Community, JIIT
				</li>
			</ul>

			<h3>Conferences</h3>
  		<ul>
  			<li>
          Paytm Build for India
  			</li>
  			<li>
  			  PyData Delhi 2018
				</li>
			</ul>
			 
      </div>
    </div>
  </div>
</section>
